body {
  background-color: #010409f2;
}
main {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
  font-weight: 500;
  padding: 1em;
  margin: 1em 0em;
  border-radius: 5px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 2em;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-color: white;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  padding: 1em;
  gap: 1em;
  margin: 1em;
}
form input {
  padding: 6px;
  outline: none;
  color: black;
  border-radius: 3px;
}

form button {
  border-radius: 3px;

  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
}

.hoverLinks:hover {
  background-color: rgb(67, 117, 117);
  transition: all ease 0.3s;
}
